/*Equalizer animations*/
@keyframes eq {
	from {
		height: 100px
	}
	25% {
		height: 50px;
	}
	50% {
		height: 100px;
	}
	75% { 
		height: 125px;
	}
	to {
		height: 100px;
	}
}
@keyframes eq2 {
	from {
		height: 100px
	}
	50% {
		height: 60px;
	}
	to {
		height: 100px;
	}
}
@keyframes eq3 {
	from {
		height: 100px;
		border-bottom: 10px solid deeppink;
	}
	50% {
		height: 150px;
		border-bottom: 10px solid deeppink;
	}
	75% {
		height: 175px;
		border-bottom: 3px solid ;
	}
	to {
		height: 100px;
	}
}
@keyframes aa {
	from {
		box-shadow: 2px -2px 0px #ff12dd,-2px 2px 0px #2c45ff;
	}
	to {
		box-shadow: -2px 2px 0px #ff12dd,2px -2px 0px #2c45ff;
	}
}
@keyframes aa-rew {
	from {
		box-shadow: 2px -2px 0px #ff12dd,-2px 2px 0px #2c45ff;
	}
	to {
		box-shadow: -2px 2px 0px #ff12dd,2px -2px 0px #2c45ff;
	}
}
@keyframes grid{
	from {
		height: 44em;
		margin-top: 18em;
	}
	to {
		height: 40em;
		margin-top: 20em;
	}
}
@keyframes city {
	from {
		background-position: 5px -230px;
	}
	50% {
		background-position: 5px -240px;
	}
	to {
		background-position: 5px -230px;
	}
}
@keyframes city2 {
	from {
		background-position: 153px -240px;
	}
	50% {
		background-position: 153px -230px;
	}
	to {
		background-position: 153px -240px;
	}
}
@keyframes trees {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -955px 0;
	}
}