* {
	font-family: 'Courier Prime', monospace;
}
body {
	position: relative;
	background: rgb(157,0,122);
	background: linear-gradient(0deg, rgba(157,0,122,1) 0%, rgba(0,0,0,1) 100%);
}
a {
	text-decoration: none;
	color: #620047;
}



/********Top equalizer************/
.eq-holder {
	position: absolute;
	width: 100%;
	z-index: 0;
	display: flex;
	opacity: 3.5%;
	
}
.eq-block {
	flex: 1;
	height: 100px;
	background-color: white;
	animation: eq 0.5s infinite; 
}
.eq-block:nth-child(2n) {
	animation: eq2 0.5s infinite;
}
.eq-block:nth-child(3) {
	animation: eq3 0.5s infinite;
}
.eq-block:nth-child(8) {
	animation: eq3 0.5s infinite;
}
.all-wrapper {
	position: relative;
	z-index: 2;
	width: 1024px;
	margin: auto;
	height: 100%;
}

/********* Head section ********/
.head-wrapper {
	overflow: hidden;
}
.menu {
	padding: 0;
	height: 100%;
	float: right;
	list-style: none;
	
}
.menu::after {
  content: "";
  display: table;
  clear: both;
}
.menu p {
	position: relative;
	color: aqua;
	text-shadow: 2px -2px 0px #ff12dd,-2px 2px 0px #2c45ff;
}
.menu p:hover {
	text-shadow:-2px 2px 0px #ff12dd,2px -2px 0px #2c45ff;;
}
.menu li {
	padding: 0;
	text-align: center;
	width: 110px;
	height: 100%;
	display: inline-block;
}
.menu-icon .icon {
	background-size: cover;
	margin: auto;
	height: 30px;
	width: 30px;
}
.home {
	background: url(img/spritesheet1.png);
	background-position: 0 32px;
}
.gallery {
	background: url(img/spritesheet1.png);
	background-position: 0 60px;
}
.contact {
	background: url(img/spritesheet1.png);
	background-position: 0 0px;
}
.exit {
	background: url(img/spritesheet1.png);
	background-position: 0 -31px;
}
.menu li:hover {
	cursor: pointer;
}
/********* Search section ********/


.hello {
	font-family: 'Saira', sans-serif;
	text-align: center;
	background: linear-gradient(to bottom,  #00f2ff 0%,#e2fbff 50%,#0a343f 51%,#0094f7 100%); 
    font-size: 5em;
    text-transform: uppercase;
}

/********* Image block section ********/


.img-list-wrapper {
	margin-top: 34px;
	overflow: hidden;
}
.img-container-1, .img-container-2, .img-container-3 {
	display: flex;
	justify-content: center;
	height: 287px;
	flex-wrap: wrap;
	
}
.img-container-2, .img-container-3 {
	margin-top: 29px;
}
.img-block {
	box-shadow: 2px -2px 0px #ff12dd,-2px 2px 0px #2c45ff;
	animation: aa 1s infinite ease-in-out;
	background: rgba(255,255,255,1);
	background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(213,235,241,0.2) 41%, rgba(149,203,218,0.2) 100%);
	height: 264px;
	width: 201px;
	border: 2px solid #cccccc;
	margin-left: 20px;
	padding: 7px;
	color: aqua;
	text-align: center;
	
}

.img-block:nth-child(2n) {
	animation: aa-rew 1s infinite ease-in-out;
}
.img-block:first-child {
	margin-left: 0;
}
.img-block:hover {
	cursor: pointer;
	transform: perspective(150px) rotateX(5deg);
	animation: none;
}
.img-block img {
	width:200px;
	height:200px;
	opacity: 0.3;
}
.img-block:hover img {
	opacity: 0.7;
}

/********* Footer section ********/

footer {
	height: 92px;
	overflow: hidden;
}
.copyright {
	padding: 0 20px 0 0;
}
.copyright::after {
  content: "";
  display: table;
  clear: both;
}
.copyright p {
	color: aqua;
	text-shadow: 2px -2px 0px #ff12dd,-2px 2px 0px #2c45ff;
	margin: 35px 0 0 0;
	float: right;
}
/* @media screen and (max-width: 992px) {
	.img-container-1, .img-container-2, .img-container-3 {
		display: flex;
		justify-content: center;

	}
	.img-container-2, .img-container-3 {
		margin-top: 14.5px;
	}
	.img-block {
		box-shadow: 2px -2px 0px #ff12dd,-2px 2px 0px #2c45ff;
		animation: aa 1s infinite ease-in-out;
		background: rgba(255,255,255,1);
		background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(213,235,241,0.2) 41%, rgba(149,203,218,0.2) 100%);
		height: 132px;
		width: 101.5px;
		border: 2px solid #cccccc;
		margin-left: 20px;
		padding: 7px;
		color: aqua;
		text-align: center;

	}
} */

/****Background***/

.graph-container {
	position: absolute;
	z-index: 1;
	bottom: 0;
	width: 100%;
    overflow: hidden;
	height: 80%;
}

    .graph {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 1) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 1) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px); 
        background-size: 4em 2em, 4em 2em;
        background-color: #160717;
        height: 40em;
        perspective: 1000px;
        margin-top: 20em;
        transform: perspective(216px) rotateX(51deg) scale(6);
		animation: grid 1s infinite linear;
    }
.background-circle {
	position: absolute;
	z-index: 0;
	margin-left: calc(50% - 250px);
	bottom: calc(55% - 250px);
	height: 500px;
	width: 500px;
	border-radius: 50%;
	background: rgb(221,125,15);
	background: linear-gradient(0deg, rgba(221,125,15,1) 0%, rgba(156,34,155,1) 49%, rgba(212,99,13,1) 100%);
}
.background-circle::before {
		background: none;
		content: attr(data-text);
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: 50%;
		left: 0;
		top: 0;
		z-index: +2;
		background-image: url('img/noise.png');
		background-blend-mode: screen;
		opacity: 0.5;
}
@keyframes city {
	from {
		background-position: 0 -230px;
	}
	50% {
		background-position: 0 -235px;
	}
	to {
		background-position: 0 -230px;
	}
}
@keyframes city2 {
	from {
		background-position: 153px -235px;
	}
	50% {
		background-position: 153px -230px;
	}
	to {
		background-position: 153px -235px;
	}
}
.background-city {
	position: absolute;
	z-index: 0;
	width: 600px;
	height: 240px;
	left: calc(50% - 300px);
	bottom: 555px;
	background: url(img/city.svg);
	background-position: 0 -230px;
	animation: city 1.5s infinite;
}
.background-city2 {
	position: absolute;
	z-index: 0;
	width: 600px;
	height: 240px;
	left: calc(50% - 300px);
	bottom: 555px;
	background: url(img/city.svg);
	background-position: 153px -235px;
	opacity: 0.5;
	animation: city2 1.5s infinite;
}
