* {
	font-family: 'Courier Prime', monospace;
}
body {
	background: rgb(20,0,40);
}
a {
	text-decoration: none;
	color: black;
}



@keyframes aa {
	from {
		height: 264px;
	}
	to {
		margin-top:2px;
		height:267px;
	}
}
@keyframes aa-rew {
	from {
		margin-top:2px;
		height:267px;
		
	}
	to {
		height: 264px;
	}
}
.eq-holder {
	position: absolute;
	width: 100%;
	z-index: 0;
	display: flex;
	opacity: 7.5%;
	
}
.eq-block {
	flex: 1;
	height: 100px;
	background-color: white;
	animation: eq 0.5s infinite; 
}
.eq-block:nth-child(2) {
	animation: eq2 0.5s infinite;
}
.eq-block:nth-child(3) {
	animation: eq3 0.5s infinite;
}
.all-wrapper {
	position: relative;
	z-index: 2;
	width: 1024px;
	margin: auto;
}
@keyframes grid{
	from {
		height: 40em;
		margin-top: 20em;
	}
	to {
		height: 44em;
		margin-top: 18em;
	}
}
/********* Head section ********/
.head-wrapper {
	height: 130px;
	border-bottom: 1px solid #cccccc;
	overflow: hidden;
}
.menu {
	padding: 0;
	margin: 0;
	height: 100%;
	float: right;
	list-style: none;
	
}
.menu::after {
  content: "";
  display: table;
  clear: both;
}
.menu p {
	color: aqua;
}
.menu li {
	padding: 0;
	text-align: center;
	width: 110px;
	height: 100%;
	display: inline-block;
}
.menu-icon .icon {
	background-size: cover;
	margin: auto;
	margin-top: calc(50% - 30px);
	height: 30px;
	width: 30px;
}
.home {
	background: url(img/spritesheet1.png);
	background-position: 0 32px;
}
.gallery {
	background: url(img/spritesheet1.png);
	background-position: 0 60px;
}
.contact {
	background: url(img/spritesheet1.png);
	background-position: 0 0px;
}
.exit {
	background: url(img/spritesheet1.png);
	background-position: 0 -31px;
}
.menu li:hover {
	cursor: pointer;
}
/********* Search section ********/

.search {
	padding-top: 41px;
	padding-bottom: 41px;
	border:1px solid aquamarine;
	border-top: none;
	height: 99px;
}
.Hello {
	font-family: 'Saira', sans-serif;
	text-align: center;
	margin-top: 18px;
	background: linear-gradient(to bottom,  #ebf1f6 0%,#abd3ee 50%,#859ee2 51%,#d5ebfb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
	-webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
    text-transform: uppercase;
}
.graph-container {
	position: absolute;
	z-index: 1;
	bottom: -290px;
	width: 100%;
    overflow: hidden;
	height: 100vh;
}

    .graph {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, .5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 0.5) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px); 
        background-size: 4em 2em, 4em 2em;
        background-color: #361438;
        height: 40em;
        perspective: 1000px;
        margin-top: 20em;
        transform: perspective(200px) rotateX(45deg) scale(2);
		animation: grid 1s infinite linear;
    }


/********* Image block section ********/

.img-list-wrapper {
	margin-top: 34px;
	overflow: hidden;
}
.img-container-1, .img-container-2, .img-container-3 {
	overflow: hidden;
	display: flex;
	justify-content: center;
	height: 282px;
	
}
.img-container-2, .img-container-3 {
	margin-top: 29px;
}
.img-block {
	animation: aa 0.6s infinite ease-in-out;
	background-color: #9F9F9F;
	height: 264px;
	width: 201px;
	border: 1px solid #cccccc;
	margin-left: 20px;
	padding: 7px;
	
}
.img-block:hover {
	cursor: pointer;
}
.img-block:nth-child(2n) {
	animation: aa-rew 0.6s infinite ease-in-out;
}
.img-block:first-child {
	margin-left: 0;
}

/********* Footer section ********/

footer {
	margin-top: 34px;
	height: 92px;
	overflow: hidden;
}
.copyright {
	padding: 0 20px 0 0;
}
.copyright p {
	color: aqua;
	margin: 35px 0 0 0;
	float: right;
}