* {
	font-family: 'Courier Prime', monospace;
	box-sizing: border-box;
}
body {
	position: relative;
	min-height: 1080px;
	background: rgb(157,0,122);
	background: -webkit-gradient(linear, left bottom, left top, from(rgba(157,0,122,1)), to(rgba(0,0,0,1)));
	background: -o-linear-gradient(bottom, rgba(157,0,122,1) 0%, rgba(0,0,0,1) 100%);
	background: linear-gradient(0deg, rgba(157,0,122,1) 0%, rgba(0,0,0,1) 100%);
	
}
header, main, footer {
	width: 100%;
	max-width: 1024px;
}
a {
	text-decoration: none;
}
.all-wrapper {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.main-wrapper {
	margin-top: 50px;
}
/********Top equalizer************/
.eq-holder {
	position: absolute;
	width: 100%;
	z-index: -1;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 8.5%;
	
}
.eq-block {
	z-index: inherit;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 100px;
	background-color: white;
	-webkit-animation: eq 0.5s infinite;
	animation: eq 0.5s infinite;
}
.eq-block:nth-child(2n) {
	-webkit-animation: eq2 0.5s infinite;
	        animation: eq2 0.5s infinite;
}
.eq-block:nth-child(3) {
	-webkit-animation: eq3 0.5s infinite;
	        animation: eq3 0.5s infinite;
}
.eq-block:nth-child(8) {
	-webkit-animation: eq3 0.5s infinite;
	        animation: eq3 0.5s infinite;
}

/********* Head section ********/
.menu {
	margin: 0;
	padding: 5px 0 5px 0;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	list-style: none;
	
}
.menu p {
	margin: 0;
	margin-top: 15px;
	color: aqua;
	text-shadow: 2px -2px 0px #ff12dd,-2px 2px 0px #2c45ff;
}
.menu p:hover {
	text-shadow:-2px 2px 0px #ff12dd,2px -2px 0px #2c45ff;;
}
.menu li {
	text-align: center;
	width: 110px;
	display: inline-block;
}
.icon {
	background-size: cover;
	position: relative;
	margin: auto;
	height: 30px;
	width: 30px;
}
.home::before {
	content: '';
	position: absolute;
	width: inherit;
	height: inherit;
	top: 0;
	left: 0;
	background-image: url(img/spritesheet1.png);
	background-size: cover;
	background-position: 0 32px;
}
.gallery::before {
	content: '';
	position: absolute;
	width: inherit;
	height: inherit;
	top: 0;
	left: 0;
	background-image: url(img/spritesheet1.png);
	background-size: cover;
	background-position: 0 60px;
}
.contact::before {
	content: '';
	position: absolute;
	width: inherit;
	height: inherit;
	top: 0;
	left: 0;
	background-image: url(img/spritesheet1.png);
	background-size: cover;
	background-position: 0 0px;
}
.menu li:hover {
	cursor: pointer;
}
/********* Main text section ********/

.text {
	background: linear-gradient(to bottom,  #00f2ff 0%,#e2fbff 50%,#0a343f 51%,#0094f7 100%);
}
.hello {
	font-family: 'Saira', sans-serif;
	text-align: center;
	position: relative;
	width:350px;
	margin:auto;
    font-size: 3.5em;
    text-transform: uppercase;
}
.neon-text {
	position: absolute;
	top:0;
	right: -65px;
	font-size: 4rem;
	text-transform: uppercase;
	transform: rotate(-26deg);
	font-family: 'Kaushan Script', cursive;
	color: #ff1091;
	text-shadow: 0px 0px 15px #ff1091;
}
.random {
	position: relative;
	display: none;
	margin-top: 35px;
}
.random::after{
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}
.random-text {
	color: aqua;
}
.text-holder:hover {
	cursor: pointer;
}
@keyframes show-text {
	from {
		display: none;
	}
	to {
	display: flex;
	justify-content: center;
	padding: 15px;
	padding-bottom: 20px;
	}
}
.text-holder:active .random{
	display: flex;
	justify-content: center;
	padding: 15px;
	padding-bottom: 20px;
	animation: show-text 1s ease;
}
.text-holder:active {
	border: 1px solid aqua;
	border-top: none;
	border-radius: 0 0 20px 20px;
}

/********* Image block section ********/


.img-list-wrapper {
	margin-top: 60px;
}
.img-container-1, .img-container-2, .img-container-3 {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.img-container-2, .img-container-3 {
	margin-top: 20px;
}
.img-block {
	position: relative;
	box-shadow: 2px -2px 0px #ff12dd,-2px 2px 0px #2c45ff;
	animation: aa 1s infinite ease-in-out;
	background: rgba(255,255,255,1);
	background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(213,235,241,0.2) 41%, rgba(149,203,218,0.2) 100%);
	min-height: 264px;
	width: 200px;
	border: 2px solid #cccccc;
	border-radius: 0 0 10px 10px;
	margin-left: 20px;
	padding: 15px;
	color: aqua;
	text-align: center;
	
}
.img-block::before {
	background: none;
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: +2;
	background-image: url('img/noise2.png');
	opacity: 0.5;
	background-blend-mode: screen;
}

.img-block:nth-child(2n) {
	animation: aa-rew 1s infinite ease-in-out;
}
.img-block:first-child {
	margin-left: 0;
}
.img-block:hover {
	cursor: pointer;
	transform: perspective(150px) rotateX(5deg);
	transition: 0.1s;
}
.img-block img {
	width:160px;
	height:160px;
	opacity: 0.3;
	border: 18px solid black;
	box-shadow: 0px 0px 0px 2px rgba(255,255,255,1);
}
.img-block:hover img {
	opacity: 0.7;
}
.img-block:hover .img-description {
	opacity: 0.7;
	transition: 0.9s;
}
.img-description {
	overflow: hidden;
	background-color: black;
	margin-top: 5px;
	opacity: 0.3;
	border: 2px dashed white;
	min-height: 40px;
}
.img-block:hover .img-description {
	
}

/********* Footer section ********/

footer {
	margin-top: 20px;
	height: 92px;
	overflow: hidden;
}
.copyright {
	padding: 0 20px 0 0;
	display: flex;
	justify-content: flex-end;
}
.copyright p {
	color: aqua;
	text-shadow: 2px -2px 0px #ff12dd,-2px 2px 0px #2c45ff;
	margin: 35px 0 0 0;
}
/*
@media screen and (max-width: 992px) {
	.img-container-1, .img-container-2, .img-container-3 {
		display: flex;
		justify-content: center;

	}
	.img-container-2, .img-container-3 {
		margin-top: 14.5px;
	}
	.img-block {
		box-shadow: 2px -2px 0px #ff12dd,-2px 2px 0px #2c45ff;
		animation: aa 1s infinite ease-in-out;
		background: rgba(255,255,255,1);
		background: linear-gradient(to right, rgba(255,255,255,0.2) 0%, rgba(213,235,241,0.2) 41%, rgba(149,203,218,0.2) 100%);
		height: 132px;
		width: 101.5px;
		border: 2px solid #cccccc;
		margin-left: 20px;
		padding: 7px;
		color: aqua;
		text-align: center;

	}
} 
*/

/****Background***/

.graph-container {
	overflow: hidden;
	position: absolute;
	z-index: -3;
	top: -1;
	width: 100%;
	height: 100%;
}.circle-container {
	overflow: hidden;
	position: absolute;
	z-index: -7;
	top: 0;
	width: 100%;
	height: 100%;
}
.town-container {
	overflow: hidden;
	position: absolute;
	z-index: -4;
	top: 0;
	width: 100%;
	height: 100%;
}
.tree-container {
	overflow: hidden;
	position: absolute;
	z-index: -2;
	top: 0;
	width: 100%;
	height: 100%;
}
.city-container-side {
	overflow: hidden;
	position: absolute;
	z-index: -3;
	top: 0;
	width: 100%;
	height: 100%;
}

 .graph {
     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 1) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px), linear-gradient(90deg, rgba(0, 0, 0, 0) 0px, rgba(54, 226, 248, 1) 0%, rgba(54, 226, 248, 0.5) 3px, rgba(0, 0, 0, 0) 0px); 
     background-size: 4em 2em, 4em 2em;
     background-color: #160717;
     height: 40em;
     perspective: 1000px;
     margin-top: 20em;
     transform: perspective(216px) rotateX(51deg) scale(6);
	 animation: grid 1s infinite linear;
 }

.background-tree {
	height: 200px;
    width: 600px;
	background-image: url(img/palm2.png);
	background-size: cover;
    transform: perspective(216px) rotateY(17deg) rotateX(0deg) rotateZ(2deg) scale(2);
    margin-top: 332px;
	background-position: 0 0px;
	animation: trees 4.8s infinite linear;
}
.background-tree2 {
	float:right;
	height: 200px;
    width: 600px;
	background-image: url(img/palm2.png);
	background-size: cover;
    transform: perspective(216px) rotateY(164deg) rotateX(0deg) rotateZ(2deg) scale(2);
    margin-top: 332px;
	margin-left: 0px;
	background-position: 0 0px;
	animation: trees 4.8s infinite linear;
}
.background-city-side {
	z-index: -6;
	height: 200px;
    width: 600px;
	background-image: url(img/city.png);
	background-size: cover;
    transform: perspective(216px) rotateY(18deg) rotateX(0deg) rotateZ(2deg) scale(2);
    margin-top: 332px;
	background-position: 0 0px;
	animation: trees 10s infinite linear
}
.background-city-side2 {
	float:right;
	height: 200px;
    width: 600px;
	background-image: url(img/city.png);
	background-size: cover;
    transform: perspective(216px) rotateY(164deg) rotateX(0deg) rotateZ(2deg) scale(2);
    margin-top: 332px;
	margin-left: 0px;
	background-position: 0 0px;
	animation: trees 10s infinite linear;
}
.background-circle {
	margin: auto;
	margin-top: 250px;
	height: 500px;
	width: 500px;
	border-radius: 50%;
	background: rgb(221,125,15);
	background: linear-gradient(0deg, rgba(221,125,15,1) 0%, rgba(156,34,155,1) 49%, rgba(212,99,13,1) 100%);
}
.background-circle::before {
	background: none;
	content: attr(data-text);
	position: absolute;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	z-index: +2;
	background-image: url('img/noise.png');
	background-blend-mode: screen;
}

.background-city {
	width: 885px;
	height: 240px;
	margin: auto;
	margin-top: 250px;
	background: url(img/city.svg);
	background-position: 5px -230px;
	animation: city 2s infinite ease-in-out;
}
.background-city2 {
	width: 885px;
	height: 240px;
	margin: auto;
	margin-top: 250px;
	background: url(img/city.svg);
	background-position: 154px -236px;
	opacity: 0.4;
	animation: city2 2s infinite ease-in-out;
}
